header {
  background: rgb(134, 35, 48);
  color: black;
  padding: 1rem 0;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

header .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  font-weight: bold;
}

.nav-links a {
  text-decoration: none;
  color: black;
  transition: color 0.3s;
  
}

.nav-links a:hover {
  color: rgb(61, 16, 16);
}

body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  margin: 0;
  padding: 0;
}

.container {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
}

form {
  display: flex;
  gap: 0.5rem;
}

input[type="text"] {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background: #28a745;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #218838;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 1rem 0 0 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f4f4f4;
  padding: 0.5rem;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  transition: background 0.3s;
}

li.completed {
  text-decoration: line-through;
  color: gray;
}

li button {
  background: #dc3545;
  color: white;
  border: none;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  cursor: pointer;
}

li button:hover {
  background: #c82333;
}
